
body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    width: 80%;
    margin: auto;
    background: url(../images/kista.jpg) repeat center center;
    background-size: cover;
}
#header,
#footer,
#content{
    background-color: rgba(92, 90, 90, 0.7);
    color: #ffffff;
}
#content {
    width: 100%;
    float: left;
}

#footer {
    clear: both;
    border-top: 50px rgb(210,210,210) solid;
}
h1,
p,
ul {
    padding: 10px 30px;
}
h1 {
    border-bottom: 10px rgb(210,210,210) solid;
    font-size: 2rem;
}
p {
    color: #ffffff;
}

a { 
	font-weight: bold; /*Link text is set to bold*/
}

a:link { 
	color: pink;  /*colour here just uses the English name of the colour - not that common in practice*/
}

a:visited { 
	color: yellow; 
}
	
a:hover { 
	color: blue; 
}